.bg
{
  background-color: yellow;
  color: brown;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 12px;
}

p{
  margin: auto;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  line-height: 1.6;
}

h1 {
  color: brown;
  font-size: 25px;
}
b{
	color:orange;
}
b,p
{
	color:black;
	font-size: 20px;
}
lt{
	color:orange;
}
